@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  /* nav-bgs */
  --primary-color: #4756df;
  /* text */
  --secondary-color: #ff7235;
  /* mouseover text */
  --primary-shadow: #8b8eaf;
  /* card shadow */
  --secondary-shadow: #a17a69;
  /* card shadow */
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

fieldset {
  border: hidden;
}


/* Burger menu */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}

nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.btn {
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  line-height: 19px;
  cursor: pointer;
  margin-left: -1px;
  padding: 4px 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6c6;
  color: #000;
  text-decoration: none;
  font-family: sans-serif;
}

.btn:hover {
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.is-pressed {
  background: -webkit-linear-gradient(top, #eee, #e0e0e0);
  border: 1px solid #d7d7d7;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.is-pressed:hover {
  background: -webkit-linear-gradient(top, #eee, #e0e0e0);
  border: 1px solid #d7d7d7;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  height: 37.5rem;
  width: 37.5rem;
}

/* Bio */
.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

/* More about */
.more-about {
  background-color: var(--bg-color);
  padding: 1rem 6rem;
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
}

/* Skills */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.about-icon {
  width: 5.875rem;
  height: 5.25rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 15px;
}

.about-contact-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 5px;
  margin: 2px
}

.about-contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrapper-left-buffer {
  flex: 15;
}

.wrapper-contact-buffer {
  flex: 30;
}

.wrapper-center-buffer {
  flex: 10;
}

.wrapper-business-buffer {
  flex: 30;
}

.wrapper-right-buffer {
  flex: 15;
}

.character-select {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.character-card {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.selection-tyler {
  display: flex;
  flex-direction: column;
}

.selection-kyle {
  display: flex;
  flex-direction: column;
}

.selection-jake {
  display: flex;
  flex-direction: column;
}

.selection-text {
  flex: 20;
  text-align: center;
  color: #000;
}

.selection-anchor {
  opacity: 1;
  transition: 0.3s;
}

.selection-anchor:hover {
  opacity: 0.6;
}

.selection-name {
  font-family: "Roboto Slab", sans-serif;
}

.selection-description {
  margin-top: 2%;
}

.about-hello {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}

.about-photo {
  flex-grow: 1;
  max-width: 45%;
  max-height: 45%;
  margin-right: 0%;
  margin-left: 5%;
  flex: 75;
}

.about-text {
  flex: 10;
  margin-top: 10%;
}

.about-left {
  flex: 10;
}

.about-right {
  flex: 5;
}

/* Projects */
.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

/* Socials */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 25%;
  animation-delay: 1s;
}

.contact {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 25%;
}

.socicon {
  width: 4rem;
  height: 4rem;
}

.phone-icon {
  display: none;
}

/* Up arrow */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 5rem;
  height: 5rem;
}

/* Graphics box */
.graphics-header {
  text-align: center;
  font-size: 60px;
}

.graphic-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
  height: 100%;
}

.graphic-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.graphic-pic {
  max-width: 50%;
  height: auto;
  object-fit: contain;
}

.publication-pic {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.graphic-description {
  text-align: center;
  padding: 2rem;
  right: 20%;
}

.graphic-description p {
  font-size: 24px;
}

.graphic-description a {
  font-size: 24px;
}

.graphic-description h2 {
  font-size: 32px;
}

.resume-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.about-resume-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 10px;
  margin: 10px;
  height: 5.25rem;
}

.experience-card {
  min-width: 400px;
}

.skill-buttons {
  min-width: 500px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.skill-button {
  background-color: #3C99DC;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.skill-grid {
  min-width: 500px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.skills-and-experience {
  display: flex;
  align-items: left;
  justify-content: center;
  text-align: left;
  flex-direction: row;
  height: 100%;
}

.skills-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.about-outer-cards {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  margin-bottom: 5%;
}

.about-inner-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 60;
}

.about-left-card {
  flex: 20;
}

.about-right-card {
  flex: 20;
}

.tyler-skills {
  min-width: 45ch !important;
  text-align: center !important;
}

.skills-div {
  text-align: center;
}

/* footer */
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
}

.floatingRev {
  animation-name: floatingRev;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

@keyframes floatingRev {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, -15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

@keyframes drifting {
  0% {
    transform: translate(0px, 0);
  }

  50% {
    transform: translate(15px, 0);
  }

  100% {
    transform: translate(-0px, 0);
  }
}

@keyframes driftingRev {
  0% {
    transform: translate(0px, 0);
  }

  50% {
    transform: translate(-15px, 0);
  }

  100% {
    transform: translate(-0px, 0);
  }
}

@media screen and (max-width: 1200px) {
  .floating {
    animation-name: drifting;
    text-align: center;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
  }

  .floatingRev {
    animation-name: driftingRev;
    text-align: center;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
  }

  .contact {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .about-hello {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
  }

  .about-photo {
    flex-grow: 1;
    max-width: 35%;
    max-height: 35%;
    margin-right: 0%;
    margin-left: 0%;
    flex: 70;
  }

  .about-text {
    flex: 30;
    margin-bottom: 2%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0%;
  }

  .about-left {
    flex: 0;
  }

  .about-right {
    flex: 0;
  }

  .experience-card {
    min-width: 400px;
    text-align: center;
  }

  .about-contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .skill-buttons {
    min-width: 350px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .skill-grid {
    min-width: 350px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .skills-and-experience {
    display: flex;
    align-items: left;
    justify-content: space-between;
    text-align: left;
    flex-direction: column;
    height: 100%;
  }

  .tyler-skills {
    min-width: 30ch !important;
  }

  .socicon {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .experience-card {
    min-width: 400px;
    text-align: left;
  }

  .character-select {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: stretch;
  }

  .character-card {
    flex-grow: 1;
    width: 50%;
    height: 50%;
    padding: 5px;
  }

  .about-photo {
    flex-grow: 1;
    max-width: 60%;
    max-height: 60%;
    margin-right: 0%;
    margin-left: 0%;
    flex: 70;
  }

  .character-tyler {
    margin-left: 5%;
  }

  .character-kyle {
    margin-right: 5%;
  }

  .character-jake {
    margin-left: 5%;
  }

  .selection-tyler {
    flex-direction: row;
  }

  .selection-kyle {
    flex-direction: row-reverse;
  }

  .selection-jake {
    flex-direction: row;
  }

  .selection-text {
    margin-top: 20%;
  }

  nav {
    padding: 1.5rem 1rem;
  }

  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
    border-radius: 0% 0% 5% 5%;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
    border-radius: 0% 0% 5% 5%;
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    height: 30rem;
    width: 30rem;
  }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
    background-color: var(--bg-color);
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .socicon {
    width: 2rem;
    height: 2rem;
    /*margin: 10%;*/
  }

  .up-arrow {
    width: 2.5rem;
    height: 2.5rem;
  }

  .phone-icon {
    display: flex;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .graphics-header {
    text-align: center;
    font-size: 38px;
  }

  .graphic-container {
    flex-direction: column;
  }

  .graphic-description {
    text-align: center;
    padding: 1rem;
    margin-bottom: var(--bottom-margin);
  }

  .graphic-description p {
    font-size: 16px;
  }

  .graphic-description a {
    font-size: 16px;
  }

  .graphic-description h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 420px) {
  .hero img {
    height: 23rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }
}